.flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.pack-grid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    justify-items: center;
    align-items: center;
}

.pack-grid-title{
    grid-column: 1 / span 3;
}